body,input,select {
    font:16pt Calibri;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

h1.center {
    text-align:center;
}

td.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr;
    grid-template-areas:
        " header header header header"
        ". sidebar . ."
        ". footer footer ."
        ". button button .";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    justify-content: start;
}

.textbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    padding: 5px;
}

.footer {
    grid-area: footer;
}

.auto-style3 {
    width: 378px;
}
.auto-style1 {
    width: 189px;
}


.auto-style4 {
    width: 135px;
}

.error {
    text-align:center; 
    color:red;
}
